.brewery-details {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.back {
    display: block;
    padding: 1rem 2rem;
}

.brewery-logo {
    max-width: 90%;
    margin: 1rem 0;
}
