.content {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas:
        'label'
        'text';

    grid-gap: 25px;
}

.label {
    grid-area: label;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label img {
    max-width: 100%;
    /* object-fit: contain; */
}

.text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

@media only screen and (min-width: 800px) {
    .content {
        grid-template-areas: 'label text';
    }
}

@media only screen and (min-width: 1000px) {
    .content {
        grid-template-areas: 'label text text';
    }
}
