.app {
    max-width: 80vw;
    margin: 5vh auto;
    padding: 25px;
    text-align: center;
    background-color: #362a2a;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.app a {
    color: #f09000;
}

@media only screen and (min-width: 580px) {
    .app {
        padding: 40px;
    }
}

@media only screen and (min-width: 720px) {
    .app {
        padding: 50px;
    }
}

@media only screen and (min-width: 960px) {
    /* .app {
        padding: 50px;
    } */
}
